{% extends "layout.html" %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
<!------ Include the above in your HEAD tag ---------->

<head>
	<title>Our Team</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>

<link href="css/team.css" rel="stylesheet">


</head>
<body>

    <br><br><br><br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Our Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/58800412_2136502319781392_7657557497674203136_n.jpg?_nc_cat=109&_nc_ht=scontent-vie1-1.xx&oh=e690e0d406d971cf6fd8822a09d564ad&oe=5D2C3CA0" >

                    </div>
                    <div class="team-content">
                        <h3>Richard Kačur</h3>
                        <span class="post"> Front-end Developer </span>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/50784625_3000751866617693_5019813778196267008_n.jpg?_nc_cat=111&_nc_ht=scontent-vie1-1.xx&oh=f8339b9a95705bb8bf3bc60402bf968e&oe=5D6B64CD" >

                    </div>
                    <div class="team-content">
                        <h3>Dávid Gajdoš</h3>
                        <span class="post"> Back-end Developer </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/58602837_2174422239259969_8267458208214286336_n.jpg?_nc_cat=106&_nc_ht=scontent-vie1-1.xx&oh=5d3830bf2c69f4ba61b93722aa4beb8d&oe=5D68A995" >

                    </div>
                    <div class="team-content">
                        <h3>Tomáš Juščík</h3>
                        <span class="post"> Back-end Developer </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/20525275_1268060539987475_2903940284190195683_n.jpg?_nc_cat=108&_nc_ht=scontent-vie1-1.xx&oh=c18ca97227d8588e120b2482715fec09&oe=5D6D3716" >

                    </div>
                    <div class="team-content">
                        <h3>Tomáš Lichanec</h3>
                        <span class="post"> Documentation Master </span>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

</body>

{% endblock content %}