{% extends "layout.html" %}
{% block content %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h1>To be finished...</h1>

<a href="" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Download project</a>

{% endblock content %}